<% provide(:title, "Help") %>
<div class="center jumbotron">
<% if logged_in? %>
  <div class="row">

    <div class="col-md-8">
      <h3>Event Board</h3>
      <%= render 'shared/feed1' %>
    </div>

  </div>
<% else %>
<h1>Help</h1>


<p>
  It is a basic site. Log in for more features.
</p>
<% end %>
